
/*QUIENES SOMOS*/



.imagenEstadio{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 2%;
    margin: 2%;
    
}



.imagenMuseo{
    display: flex;
    justify-content: center;
    width: auto;

}

#imgMuseo{
    width: auto;
}
