
/*QUIENES SOMOS*/



.imagenEstadio{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1.2rem;
    
}



.imagenMuseo{
    display: flex;
    justify-content: center;
    width: auto;

}

#imgMuseo{
    width: auto;
    padding: 1.2rem;
}
