.body {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding: 20px 20px;
  background: white;
  background: linear-gradient(0deg, white 0%, white 35%, #f50505 77%); }
  .header .header__logo {
    width: 80px; }
  .header .lista__header {
    color: black; }
  .header .lista__item {
    font-size: 1.1rem;
    display: inline-block;
    margin: 13px; }

.main {
  grid-area: main;
  padding: 25px; }
  .main .main__titulo {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    color: crimson; }
  .main .tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
  .main .main__titulo2 {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    margin: 10px 10px;
    font-size: 3rem; }
  .main .articuloNoticia__titulo {
    padding: 1rem 1rem;
    font-size: 2rem; }
    .main .articuloNoticia__titulo .seccionArticulos__articuloNoticia {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
      margin: 20px 10px;
      flex-direction: row-reverse;
      font-size: 1.3rem; }
      .main .articuloNoticia__titulo .seccionArticulos__articuloNoticia p {
        width: auto;
        padding: 2rem;
        margin: 35px;
        font-size: 1rem; }
      .main .articuloNoticia__titulo .seccionArticulos__articuloNoticia .articuloNoticia__img1 {
        display: flex;
        padding: 1rem;
        width: auto; }
      .main .articuloNoticia__titulo .seccionArticulos__articuloNoticia .articuloNoticia__img2 {
        display: flex;
        padding: 1rem;
        width: auto; }

.articuloNoticia__img3 {
  display: flex;
  margin-left: 4%;
  width: auto; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  background: #f50505;
  background: linear-gradient(0deg, #f50505 6%, white 45%, white 100%); }
  .footer .footer__tituloFooter {
    align-self: center;
    margin: 2rem;
    font-size: 18px;
    text-decoration: solid; }
  .footer .footer__list {
    display: flex;
    justify-items: end;
    justify-content: right;
    margin: 10px 20px; }
    .footer .footer__list .list__element {
      display: inline-block;
      font-size: 20px;
      padding: 10px;
      margin: 10px 5px;
      text-decoration: none; }
    .footer .footer__list .logo__footer {
      height: auto;
      width: auto; }

/*QUIENES SOMOS*/
.imagenEstadio {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 2%;
  margin: 2%; }

.imagenMuseo {
  display: flex;
  justify-content: center;
  width: auto; }

#imgMuseo {
  width: auto; }

/*MONUMENTAL*/
.main__tablaPrecios {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
  font-size: 2rem; }

/*INICIO DE SESION*/
.main__fieldset {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  font-size: 20px;
  width: 100%; }
  .main__fieldset .fieldset {
    border: 2px solid black; }
    .main__fieldset .fieldset .fieldset__section {
      display: inline-block;
      font-size: 25px;
      padding: 1rem;
      margin: 1rem;
      font-weight: lighter; }
      .main__fieldset .fieldset .fieldset__section .section__botones {
        display: flex;
        justify-content: space-evenly;
        padding: 0.5rem; }
        .main__fieldset .fieldset .fieldset__section .section__botones .botones {
          border-style: solid;
          border-radius: 30px;
          padding: 0.5rem;
          transition: 1s; }
          .main__fieldset .fieldset .fieldset__section .section__botones .botones:hover {
            background-color: rgba(243, 8, 8, 0.516);
            color: white;
            font-weight: bold; }

.tituloCarp {
  font-size: 4rem; }

.tituloNoticia {
  font-size: 4rem; }

.tituloMonumental {
  font-size: 4rem; }

.tituloQuienesSomos {
  font-size: 4rem; }

/* MEDIA QUERIES*/
@media screen and (max-width: 820px) {
  .seccionArticulos__articuloNoticia {
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 1.3rem;
    padding: 10px 10px;
    margin: 20px 10px; }
  .lista__item {
    font-size: 1.3rem;
    display: inline-block;
    margin: 13px; }
  .footer__tituloFooter {
    align-self: center;
    margin: 2rem;
    font-size: 1.6rem;
    text-decoration: solid; }
  .articuloNoticia__parrafo {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 35px;
    font-size: 1.6rem; } }

@media screen and (max-width: 390px) {
  .footer__tituloFooter {
    align-self: center;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: solid; }
  .footer__list {
    justify-content: center; }
  .main__tablaPrecios {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: auto;
    font-size: 1rem; }
  .main__titulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    color: crimson; }
  .imagenEstadio {
    display: none; }
  .imagenMuseo {
    display: none; }
  .articuloNoticia__parrafo {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 1rem; }
  #img1 {
    display: none; }
  #img2 {
    display: none; }
  .main__seccionArticulos {
    display: flex;
    flex-direction: column; }
  .fieldset {
    display: flex;
    justify-content: center;
    width: auto; } }
